@import "./mixin.scss";

// @include default-box;
@include header;
@include footer;



.searchBar {
    width: auto;
    display: flex;

    img {
        flex: none;
        opacity: 0.3;
    }
    input {
        box-sizing: border-box; // padding: 0; border-width: 0;  input의 좌우 여백이 동일하려면 padding 과 border-width를 함께 사용해야 border의 너비가 input사이즈에 포함되기 때문 또는 외곽선을 안으로 생성시키기
        margin-right: auto;
        border: none;
        margin-left: 3%;
        opacity: 0.3;
        color: #000000;
    }
    hr {
        opacity: 0.25;
        background-color: #000000;
        border-radius: 2px;
    }
}

.howView {
    display: flex;

    p {
        flex: none;
        opacity: 0.6;
        font-size: 14px;
    }
    #arrow {
        opacity: 0.4;
        transform: rotate(90deg);
    }
    #card {
        margin-left: auto;
    }
}

.getBoardList {
    width: auto;
    display: flex;
    
}

.imgdiv {
    display: flex;

    img {
        margin: auto 0;
        
    }
}
.titlediv {
    // margin: auto;
    text-align: left;
}